[
  {
    rabbit,
    [
      {loopback_users, []},
      {collect_statistics_interval, 10000},
      {cluster_partition_handling, autoheal},
      {delegate_count, 64},
      {fhc_read_buffering, false},
      {fhc_write_buffering, false},
      {heartbeat, 60},
      {background_gc_enabled, true},
      {background_gc_target_interval, 60000},
      {queue_index_embed_msgs_below, 0},
      {queue_index_max_journal_entries, 8192},
      {log_levels, [{connection, error},
                    {channel, warning}]},
      {vm_memory_high_watermark, 0.8},
      {auth_backends,
        [
          rabbit_auth_backend_internal
        ]
      }
    ]
  },

  {
    rabbitmq_mqtt,
    [
      {default_user,     <<"guest">>},
      {default_pass,     <<"guest">>},
      {allow_anonymous,  false},
      {vhost,            <<"/">>},
      {exchange,         <<"amq.topic">>},
      {subscription_ttl, 1800000},
      {prefetch,         10},
      {ssl_listeners,    []},
      {tcp_listeners,    [1883]},
      {tcp_listen_options,
        [
          binary,
            {packet, raw},
            {reuseaddr, true},
            {backlog, 128},
            {nodelay,   true}
        ]
      }
    ]
  },

  {rabbitmq_management, [{rates_mode, none},
    {stats_event_max_backlog, 100},
  	{sample_retention_policies,
      %% List of {MaxAgeInSeconds, SampleEveryNSeconds}
      [{global,   [{605, 10}, {3660, 180}]},
       {basic,    [{605, 10}, {3600, 180}]},
       {detailed, [{10, 10}]}]
    }
  ]}

].
